{% extends "base.html" %}

{% block content %}

    <form action="" method="post">
        <div class="container" style="text-align: center">
            <h1>Приходите в РИНХ на курсы к ЕГЭ!</h1>


        </div>

        <div>
            <div class="glex">
                <p>
                    Наши курсы используют лучшие методики подготовки Единому Государственному Экзамену, проверенные
                    поколением студентов нашей школы <br><br>

                    Баллов наших учеников в разы превышают средний балл школьника Ростова-на-Дону.

                </p>
                <img style="width: 40em" src={{url}}>
            </div>

        </div>

        <div><h1>                          </h1></div>

        <div>
            <div class="glex">
                <img style="width: 40em" src={{url2}}>
                <p>
                    Занятия проходят по субботам, поэтому у каждого ученика, есть возможность посещать нашу школу <br><br>

                    Расписание указано на отедельной странице "Расписание"

                </p>

            </div>

        </div>
    </form>

{% endblock %}