{% extends "base.html" %}

{% block content %}


    <h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.subject.label }}<br>
            {{ form.subject(class="form-control") }}<br>
            {% for error in form.subject.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.grade.label }}<br>
            {{ form.grade(class="form-control") }}<br>
            {% for error in form.grade.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>


        <script>
            function myFunction() {
                // Get the checkbox
                var checkBox = document.getElementById("myCheck");
                // Get the output text
                var courier_info = document.getElementById("courier_info");

                // If the checkbox is checked, display the output text
                if (checkBox.checked === true) {
                    courier_info.style.display = "block";
                } else {
                    courier_info.style.display = "none";
                }
            }
        </script>
        <p>
            {{ form.is_courier.label }}
            {{ form.is_courier(type="checkbox", id="myCheck", onclick="myFunction()") }}
        </p>
        {#        <input type="checkbox" id="myCheck" onclick="myFunction()"> ХОЧУ БЫТЬ КУРЬЕРОМ#}

        <p id="courier_info" style="display:none">
            {{ form.about.label }}<br>
            {{ form.about(class="form-control") }}<br>
            {% for error in form.about.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>


        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
{% endblock %}