{% extends "base.html" %}

{% block content %}

    <div style="text-align: center;">
        <h1>НАШИ ПРЕПОДАВАТЕЛИ</h1>
    </div>

    <div class="glex" style="justify-content: space-between;">
        <div>
            <div class="glex" style="flex-direction: column;">
                <img style="width: 20em" src={{ url1 }}>
                <p>Смирнова Ирина Сергеевна</p>


            </div>

        </div>

        <div>
            <div class="glex" style="flex-direction: column;">
                <img style="width: 20em" src={{ url2 }}>
                <p>Васильев Василий Васильевич</p>

            </div>

        </div>

        <div>
            <div class="glex" style="flex-direction: column;">
                <img style="width: 20em" src={{ url3 }}>
                <p>Иванов Иван Иванович</p>

            </div>

        </div>
    </div>
{% endblock %}