{% extends "base.html" %}

{% block content %}

    <h1 >Расписание Занятий</h1>
    <div>
        <h2>Математика</h2>
        <p>Суббота, 13:00 - 14:30</p>
        <p>Преподаватель: Иванов Иван Иванович</p>
    </div>
    <div>
        <h2>Физика</h2>
        <p>Суббота, 15:00 - 16:30</p>
        <p>Преподаватель: Васильев Василий Васельевич</p>
    </div>
    <div>
        <h2>Математика</h2>
        <p>Суббота, 13:00 - 14:30</p>
        <p>Преподаватель: Смирнова Ирина Сергеевна</p>
    </div>
{% endblock %}